numpy==1.26.4
pandas==1.4.3
seaborn==0.13.2
matplotlib==3.10.0
scikit-learn==1.5.2
category_encoders==2.6.3
scipy==1.12.0
statsmodels==0.14.4
optuna==4.0.0
xgboost==2.1.4
lightgbm==4.6.0
shap==0.46.0
lime==0.2.0.1
joblib==1.4.2